<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welton Manor</title>
  <link rel='stylesheet' href='static/css/custom.css' />
  <link rel='stylesheet' href='static/css/home.css' />
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css' />
  <!--<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css' />-->
  <link href='/static/images/logo.png' rel='shortcut icon' />
</head>
<body>
  <navigator>
    <logo>
      <!-- We will put actual logo here later 
      -->
      <img src='static/images/logo.png' alt='Our Logo' />
    </logo>
    <links>
      <a href='/' class='active'>Home</a>
      <a href='/about'>About</a>
      <a href='/ratings'>Ratings</a>
      <a href='/images'>Images</a>
    </links>
  </navigator>

  <br>
  
  <div class='banner'></div>

  <div class='quote'>We put assissted in Assissted living</div>

  <br>
  
  <div class='mainbody'>
    <div class='title'>What We Do</div>

    <div class='divider'></div>

    <div class='content grid-divider-2'>
      <div class='grid'>
        On this website you will see lessons on everything from Web development, to app development and even game development. I like to mix myself with everything. So anything I find intresting or blog worthy I will make a post about it. Which is why I advice you to join the newsletter so you can see this new post.
      </div>
      <div class='grid'>
        I do understand that sometimes it boring just reading that is why with each blog I try to make a YouTube video about it so you could either watch the YouTube video on my channel or come over to the website and watch it from there. No matter where you will be watching it, it will most likely be the same contents so you do not have to worry that it is somehow different
      </div>
    </div>
  </div>

  <br>
  
  <footer>
    <div class='footer-logo'>
      <!-- We will put actual logo here later 
      -->
      <img src='static/images/logo.png' alt='Our Logo' />
    </div>
    <div class='slogan'>We put assissted in Assissted living</div>
    <div class='footer-links'>
      <a href='/' class='active'>Home</a>
      <a href='/about'>About</a>
      <a href='/ratings'>Ratings</a>
      <a href='/images'>Images</a>
    </div>
    <div style="text-align:center;">
      <div class="col item social">
        <a href="#">
          <i class="icon ion-social-facebook"></i>
        </a>
        <a href="#">
          <i class="icon ion-social-twitter"></i>
        </a>
        <a href="#">
          <i class="icon ion-social-snapchat"></i>
        </a>
        <a href="#">
          <i class="icon ion-social-instagram"></i>
        </a>
      </div>
      <div style="margin-top: 10px;" class='name'>Welton Manor © 2022</div>
    </div>
  </footer>

  <br>
  
  <div class='PoweredBy'>
    <a href='https://www.codingwithcn.me' target='_blank'>
      Powered By Chidozie
    </a>
  </div>
</body>
</html>