<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ratings | Welton Manor</title>
  <link rel='stylesheet' href='static/css/custom.css' />
  <link rel='stylesheet' href='static/css/ratings.css' />
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css' />
  <!--<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css' />-->
  <link href='/static/images/logo.png' rel='shortcut icon' />
</head>
<body>
  <navigator>
    <logo>
      <!-- We will put actual logo here later 
      -->
      <img src='static/images/logo.png' alt='Our Logo' />
    </logo>
    <links>
      <a href='/'>Home</a>
      <a href='/about'>About</a>
      <a href='/ratings' class='active'>Ratings</a>
      <a href='/images'>Images</a>
    </links>
  </navigator>

  <br>
  
  <div class='mainbody'>
    <div class='ratings gray-box-shadow'>
      <div class='ratings-photo-name'>
        <div class='ratings-profile'></div>
        <div class='ratings-name italics'>FaceBook said:</div>
      </div>
      <div class='ratings-comment'>
        OMG they treated me so well, made me feel welcomed. Without putting to much emphasis on how much attention I needed. 100% Recommended!!!
      </div>
    </div>

    <div class='ratings gray-box-shadow'>
      <div class='ratings-photo-name'>
        <div class='ratings-profile'></div>
        <div class='ratings-name italics'>FaceBook said:</div>
      </div>
      <div class='ratings-comment'>
        OMG they treated me so well, made me feel welcomed. Without putting to much emphasis on how much attention I needed. 100% Recommended!!!
      </div>
    </div>

    <div class='ratings gray-box-shadow'>
      <div class='ratings-photo-name'>
        <div class='ratings-profile'></div>
        <div class='ratings-name italics'>FaceBook said:</div>
      </div>
      <div class='ratings-comment'>
        OMG they treated me so well, made me feel welcomed. Without putting to much emphasis on how much attention I needed. 100% Recommended!!!
      </div>
    </div>


    <div class='ratings gray-box-shadow'>
      <div class='ratings-photo-name'>
        <div class='ratings-profile'></div>
        <div class='ratings-name italics'>FaceBook said:</div>
      </div>
      <div class='ratings-comment'>
        OMG they treated me so well, made me feel welcomed. Without putting to much emphasis on how much attention I needed. 100% Recommended!!!
      </div>
    </div>


    <div class='ratings gray-box-shadow'>
      <div class='ratings-photo-name'>
        <div class='ratings-profile'></div>
        <div class='ratings-name italics'>FaceBook said:</div>
      </div>
      <div class='ratings-comment'>
        OMG they treated me so well, made me feel welcomed. Without putting to much emphasis on how much attention I needed. 100% Recommended!!!
      </div>
    </div>

    <div class='ratings gray-box-shadow'>
      <div class='ratings-photo-name'>
        <div class='ratings-profile'></div>
        <div class='ratings-name italics'>FaceBook said:</div>
      </div>
      <div class='ratings-comment'>
        OMG they treated me so well, made me feel welcomed. Without putting to much emphasis on how much attention I needed. 100% Recommended!!!
      </div>
    </div>


    <div class='ratings gray-box-shadow'>
      <div class='ratings-photo-name'>
        <div class='ratings-profile'></div>
        <div class='ratings-name italics'>FaceBook said:</div>
      </div>
      <div class='ratings-comment'>
        OMG they treated me so well, made me feel welcomed. Without putting to much emphasis on how much attention I needed. 100% Recommended!!!
      </div>
    </div>
  </div>

  <br>
  
  <footer>
    <div class='footer-logo'>
      <!-- We will put actual logo here later 
      -->
      <img src='static/images/logo.png' alt='Our Logo' />
    </div>
    <div class='slogan'>We put assissted in Assissted living</div>
    <div class='footer-links'>
      <a href='/'>Home</a>
      <a href='/about'>About</a>
      <a href='/ratings'>Ratings</a>
      <a href='/images'>Images</a>
    </div>
    <div style="text-align:center;">
      <div class="col item social">
        <a href="#">
          <i class="icon ion-social-facebook"></i>
        </a>
        <a href="#">
          <i class="icon ion-social-twitter"></i>
        </a>
        <a href="#">
          <i class="icon ion-social-snapchat"></i>
        </a>
        <a href="#">
          <i class="icon ion-social-instagram"></i>
        </a>
      </div>
      <div style="margin-top: 10px;" class='name'>Welton Manor © 2022</div>
    </div>
  </footer>

  <br>
  
  <div class='PoweredBy'>
    <a href='https://www.codingwithcn.me' target='_blank'>
      Powered By Chidozie
    </a>
  </div>
</body>
</html>